@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}
body {
  background-color: #fffffe;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
/* top navbar */
.topbar {
  /* margin: 7px 0px 12px 0px; */
  color: #2d334a;
  padding: 7px 0;
}
.tobar-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.phone-email {
  display: flex;
}
.phone,
.email,
.usd {
  color: #2d334a;
  display: flex;
  align-items: center;
}
.phone-text {
  padding-left: 20.13px;
}
.email {
  padding-left: 49.5px;
}

.email-text {
  padding-left: 20.5px;
  color: #2d334a;
}
.usd-text {
  padding-right: 14px;
}
.phone-icon {
  background-image: url("images/telephone.png");
  background-repeat: no-repeat;
  background-size: 14.25px 14.25px;
  background-position: left;
}
.msg {
  background-image: url("images/Message.png");
  background-repeat: no-repeat;
  background-size: 15px 13.5px;
  background-position: left;
}
.down_arrow {
  background-image: url("images/down_arrow.png");
  background-repeat: no-repeat;
  background-size: 10px 7px;
  background-position: right;
}

/* navbar */
.navbar-section {
  background: #e3f6f5;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  padding: 16px 0;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  padding: 28px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #272343;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
nav > ul > li > a:hover {
  color: #ffd803;
}
.megamenu {
  position: absolute;
  top: 120%;
  left: 0;
  display: none;
  background-color: #fffffe;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
  transition: 2s;
  padding-bottom: 59px;
}
nav > ul > li:hover .megamenu {
  top: 100%;
  display: flex;
  flex: fit-content;
}
.megamenu-items {
}
.megamenu-items ul {
  padding: 12px 52px 8px 32px;
}
.megamenu-items ul li {
  list-style: none;
  padding: 8px 0;
}
.megamenu-items h3 {
  padding-left: 32px;
  padding-top: 32px;
}
.megamenu-items ul > li > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #272343;
  text-decoration: none;
}
.megamenu-items ul > li > a:hover {
  color: #ffd803;
}
.navbar-icons {
  padding: 0 12px;
}
.nav-links:hover {
  color: #ffd803;
}
/* latest feature section */

.trending-item-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending-item-details > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #272343;
  padding-bottom: 4px;
}
.trending-item-details > h1 {
  font-weight: 800;
  font-size: 55px;
  line-height: 55px;
  color: #272343;
  padding-bottom: 24px;
}
.trending-item-details > h4 {
  font-weight: 700;
  font-size: 23px;
  line-height: 23px;
  color: #272343;
  padding-bottom: 38px;
}
.trending-item-details > button {
  background: #ffd803;
  border-radius: 28px;
  padding: 16px 32px;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #272343;
}

/* services box */

.services-box {
  display: flex;
  padding-top: 72px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #bae8e8;
  margin-top: -5px;
}
.service-heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #272343;
}
.service-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #878787;
  text-align: center;
}
.free-shipping {
  background-image: url(images/truck.png);
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center top 0;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support {
  background-image: url(images/clock.png);
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center top 0;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.return {
  background-image: url(images/rotate.png);
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center top 0;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* offer features */
.offer-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 139px;
}

.offer-features-info h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #222222;
}
.offer-features-product {
  border-radius: 0px;
  position: relative;
}
.offer-features-product-galaxy-s10 {
  background: #faeeff;
  display: flex;
}
.offer-features-info {
  padding: 48px;
}
.offer-features-info p {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  padding-top: 12px;
  padding-bottom: 24px;
}
.offer-features-info button {
  background: #ffd803;
  border-radius: 28px;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #272343;
}
.galaxy-s10-img {
  position: relative;
  bottom: 49px;
}
.offer-features-product-smartwatch {
  background: #ededed;
  display: flex;
}
.smartwatch-img {
  position: relative;
  bottom: 49px;
}
.offer-features-product-laptop {
  background: #bae8e8;
  display: flex;
  align-items: center;
}
.laptop-img {
  width: 200px;
}
.offer-features-product-led-tv {
  background: #ffdddc;
  display: flex;
  align-items: center;
}
.led-tv-img {
  width: 240px;
}
/* best selling  */
.best-selling-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #222222;
  padding: 68px 0 80px 0;
}
.best-selling-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 40px;
}
.product {
  position: relative;
}
.discount-text {
  border-radius: 25px;
  border: 0;
  background-color: #ff4e00;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding: 6px 12px;
  position: absolute;
  top: 15px;
  right: 20px;
  color: #ffffff;
}
.product-img {
  width: 270px;
}
.product-details > h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  padding-top: 24px;
  padding-bottom: 3px;
}

.previous-price {
  text-decoration-line: line-through;
  color: #878787;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  margin-right: 12px;
}
.new-price {
  color: #ec0101;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
}
/* featured collection */
.featured-collection {
  padding-top: 80px;
}
.featured-collection h1 {
  padding-bottom: 52px;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #222222;
}
.featured-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 125px;
}
.featured-categories a {
  background: #fffffe;
  border-radius: 20px;
  text-align: center;
  color: #222222;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 25px;
  margin-right: 38px;
}

.featured-categories a:hover {
  background: #272343;
  color: #fffffe;
}
.product-info {
  text-align: center;
}
/* subscribe us */
.subscribe-us-section {
  background: #bae8e8;
  /* margin-top: 195px; */
  margin: 195px auto;
}
.subscribe-us {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-div {
  flex: 1;
  position: relative;
}
.subscribe-phone {
  width: 570px;
  position: absolute;
  top: -290px;
}
.subscribe-content {
  padding: 95px;
}
.subscribe-content h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 16px;
}
.subscribe-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 16px;
}

.subscribe-input {
  width: 300px;
  height: 46px;
  padding: 0 138px 0 10px;
  background: #e3f6f5;
  border: 1px solid #2d334a;
  border-radius: 25px;
  cursor: pointer;
}
.subscribe-submit {
  margin-left: -138px;
  height: 50px;
  width: 138px;
  background: #ffd803;
  appearance: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #272343;
  cursor: pointer;
  border-radius: 28px;
}
/* footer */
.footer-section {
  background-color: #f9f9f9;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.footer-items-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #222222;
  padding-bottom: 30px;
}
.contact-us p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  padding-bottom: 7px;
}
.cateories-list > ul > li {
  list-style: none;
  padding-bottom: 10px;
}
.cateories-list > ul > li > a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #878787;
}
.secure-text {
  color: #878787;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.antivirus-img {
  width: 200px;
  margin-right: 20px;
}
.copyright-section {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}
.copyright p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #878787;
}
.useful-links {
  display: flex;
}
.useful-links li {
  list-style: none;
  margin-right: 20px;
}
.useful-links li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #878787;
}

/* --------------------------------- */
/* plp page--- products list section */
/* meet our new features */
.meet-latest-feature-section {
  background-image: url(images/Rectangle\ 30.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.meet-latest-feature-details {
  padding: 176px 0 217px 0;
}
.meet-latest-feature-details p {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 4px;
}
.meet-latest-feature-details h1 {
  font-weight: 800;
  font-size: 55px;
  line-height: 55px;
  padding-bottom: 24px;
}
.meet-latest-feature-details h4 {
  font-weight: 700;
  font-size: 23px;
  line-height: 23px;
}
.font-color-white {
  color: #e3f6f5;
}
/* products list */
.all-products-container {
  display: flex;
  flex-direction: row;
}
/* filter and sort panel */
.filter-sort-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 38px;
}
.left-panel {
}
.filter-bar {
  display: flex;
  gap: 8px;
  align-items: center;
}
.right-panel {
  display: flex;
  align-items: center;
  gap: 32px;
}
.filter-icon,
.category-icon,
.view-icon {
  width: 24px;
}
.sort-icon {
  width: 15.84px;
}
.sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12.8px;
  border: 1px solid #e3f6f5;
  border-radius: 4px;
  padding: 6px 16px;
}
.category-bar {
}
.view-bar {
}

.filter-items-list {
  padding-right: 30px;
  width: 100%;
  max-width: 210px;

}
.filter-item {
  border-width: 1px 0;
  border-style: solid;
  border-color: #eeeeee;
  padding: 12px 0 4px 8px;
}
.filter-item-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.filter-item-title h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}
.filter-item-title > a > img {
  width: 10px;
  /* padding-left: 191px; */
}

/* custom checkbox */
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #cccccc;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #cccccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
label {
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: #222222;
  padding-top: 5px;
}
label > span {
  color: #777777;
}

/* products list */
.products-items-list {
}
.products-items-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.product-item {
}
.product-item-img img {
  width: 210px;
}
.product-item-info {
  padding-top: 21.5px;
}
.product-item-info h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  padding-bottom: 3px;
}
.product-item-info p {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #878787;
}

/* pagination section */
.pagination-section {
}
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 107px;
}
.pagination a {
  color: #272343;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #bae8e8;
  border-radius: 4px;
  margin: 0 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.pagination a.active {
  color: #fffffe;
  border: 1px solid #bae8e8;
  background: #bae8e8;
  opacity: 0.5;
  border-radius: 4px;
}

.pagination a:hover:not(.active) {
  background: #bae8e8;
}

/*----------------------------------------------------- */
/* pdp page */

/* Galaxy A23 */
.galaxy-A23-section {
}
.galaxy-A23-wrapper {
  display: flex;
  padding-top: 29px;
}
/* Galaxy A23 side images */
.galaxy-A23-images {
  display: flex;
  flex-direction: column;
}
/* Galaxy A23 Details */
.galaxy-A23-details {
  padding-left: 30px;
}
.galaxy-A23-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.galaxy-A23-name {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}
.galaxy-A23-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #878787;
}
.galaxy-A23-review {
  display: flex;
  align-items: center;
  padding-bottom: 33px;
}
.galaxy-A23-review a {
  padding-right: 5.33px;
}
.galaxy-A23-review a img {
  width: 10.67px;
}
.galaxy-A23-review p {
  padding-left: 6px;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  color: #878787;
}
.galaxy-A23-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #2d334a;
}
.galaxy-A23-color {
  display: flex;
  padding-top: 63px;
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 16px;
}
.black-circle {
  background: #151514;
}
.lightpink-circle {
  background: #fac2a2;
}
.blue-circle {
  background: #1a68ff;
}

.galaxy-A23-cart-buttons {
  padding-top: 62px;
  display: flex;
  justify-content: space-between;
}
.plus-minus-button {
  width: 171px;
}
.plus-minus-button button {
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #272343;
  background: none;
  padding: 0;
}
.plus-minus-button > div {
  display: flex;
  justify-content: space-between;
  background: #fffffe;
  border: 1px solid #2d334a;
  border-radius: 28px;
  padding: 16px 32px;
}
.plus-minus-button div p {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}
.cart-wishlist-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart-button button {
  background: #ffd803;
  border-radius: 28px;
  padding: 16px 32px;
  width: 384px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #272343;
}
.wishlist-button button {
  border-radius: 28px;
  padding: 16px 32px;
  width: 384px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 12px;
  color: #2d334a;
}
.galaxy-A23-services {
  display: flex;
  margin-top: 43px;
  border: 1px solid #e3f6f5;
  border-right: 0;
  border-left: 0;
  gap: 24px;
}
.service {
  padding-top: 12px;
}
.service div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service div img {
  width: 24px;
}
.service-title {
  padding-top: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #272343;
}
.service-info {
  padding-top: 8px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #878787;
}

/* experience part */
.experience-part:last-child {
  padding-bottom: 124px;
}
.experience-part-flex {
  display: flex;
  align-items: center;
}
.experience-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #222222;
  padding-bottom: 24px;
}
.experience-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2d334a;
  padding-bottom: 48px;
}
.txt-align-center {
  text-align: center;
}

/* responsive */
@media (max-width: 413px) {
  /* Styles for viewports narrower than 413 pixels. */

  /* common */
  .container {
    width: 100%;
  }

  /* top and nav bar */
  .topbar,
  .navbar-section {
    display: none;
  }

  /* trending item section */
  .trending-item-section {
    display: flex;
    flex-direction: column;
  }
  .trending-item-details {
    padding: 25px;
  }
  .trending-item-img img {
    width: 100%;
  }

  /* services section */
  .services-box {
    display: flex;
    flex-flow: column wrap;
  }

  /* offer features baki */

  /* best selling section */

  .product {
    padding: 20px;
    position: relative;
  }
  .discount-text {
    position: absolute;
    right: 30px;
    top: 35px;
  }
  .product-img {
    width: 100%;
  }

  /* featured collection */
  .featured-categories {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 50px;
  }
  .featured-categories a {
    margin: 0;
  }

  /* offers feature */
  .offer-features {
    display: flex;
    flex-direction: column;
  }
  .offer-features-product {
 
  }
  .offer-features-product-galaxy-s10,
  .offer-features-product-smartwatch,
  .offer-features-product-laptop,
  .offer-features-product-led-tv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  /* best selling  */
  .best-selling-products {
    display: block;
  }

  /* subscribe us */
  .subscribe-phone {
    width: 300px;
    position: inherit;
  }
  .subscribe-content {
    padding: 0;
  }
  .search-input-div {
    padding-bottom: 40px;
  }
  .subscribe-input {
    width: 168px;
    height: 50px;
    padding: 0 138px 0 10px;
    background: #e3f6f5;
    border: 1px solid #2d334a;
    border-radius: 25px;
    cursor: pointer;
  }
  .subscribe-submit {
    margin-left: -138px;
    height: 53px;
    width: 138px;
    background: #ffd803;
    appearance: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #272343;
    cursor: pointer;
    border-radius: 28px;
  }
  .img-div {
    position: inherit;
  }

  .subscribe-us {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .subscribe-content h5,
  .subscribe-content p {
    text-align: center;
  }
  /* footer */
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  .footer-items {
    text-align: center;
    padding-top: 10px;
  }
  .footer-items-title {
    padding-bottom: 10px;
  }
  .copyright-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ................................................... */

  /* plp page */
  .meet-latest-feature-section {
    background-position: center center;
  }
  .meet-latest-feature-details {
    text-align: center;
  }

  /* products list */
 
  .filter-sort-panel {
    padding: 15px;
  }
  .filter-items-list {
    display: none;
  }
  .products-items-wrapper {
    justify-content: center;
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
  }


  /* pdp page */
  .galaxy-A23-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.galaxy-A23-thumbnail{
  width: 100%;
  max-width: 412px;
}
.galaxy-A23-details{
  padding-left: 0;
}
.galaxy-A23-thumbnail img{
  width: 100%;
}
.galaxy-A23-images{
  display: none;
}
.galaxy-A23-cart-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.cart-button button {
   width: 180px;
}
.wishlist-button button {
    width: 180px;
}
.featured-collection{
  display: none;
}
.experience-img{
  width: 250px;
}
.experience-part,.experience-part-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 412px) and (max-width: 768px) {
  /* Styles for viewports narrower than 768 pixels. */
  /* Styles for viewports bigger than 412 pixels. */
}

@media (min-width: 769px) {
  /* styles for bigger than 769px screen */
}
